.about-container {
  @media(min-width: 769px) {
    display: flex;
  }
  padding-top: 30%;
}
.about-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559912155/nepal_-_mauricio_vdhibv.jpg");
}
.mau-photo {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559143559/Mauricio_Gris_dtd9ca.jpg");
}
.alex-photo {
  background-image: linear-gradient(90deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.3) 100%), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559836453/20190605_alex_headshot_website_1_cw1pgz.jpg");
}
.about-container img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  align-self: flex-start;
  padding-top: 65px;
}
.about-page-container {
  height: 100vh;
  background-size: cover;
  margin: 100px 8px 0 8px;
  background-position: center;
  @media(min-width: 576px) {
    display: flex;
  }
  @media(max-width: 576px) {
    background-position: left;
    position: relative;
  }
}
.mau-text-container {
  @media(max-width: 576px) {
    position: absolute;
    bottom: 24px;
    right: 0;
  }
}
.about-page-container:hover .project-link {
  opacity: 1;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
.photo-container {
  color: white;
  p {
    font-size: 15px;
    font-weight: 100;
    line-height: 28px;
  }
}
.mau-container {
  margin: auto 32px 0px 50%;
}
.alex-container {
  margin: auto 50% 0px 32px;
}
.mau-heading {
  font-weight: 800;
  font-size: 20px;
}
.sm-mau-margin-top {
  margin-top: 48px;
}
.clients-margin {
  margin: 150px 0;
}
// #instafeed li {
//   @media(max-width: 768px) {
//     max-width: 50%;
//   }
//   max-width: 33%;
//   list-style: none;
//   float: left;
//   margin: 0;
//   padding: 12px;
//   display:inline;
//   overflow: hidden;
// }
// #instafeed a {
//   float: left;
//   display:inline-block;
//   position: relative;
// }
// #instafeed img {
//   display: inline-block;
//   width: 100%;
//   height: 100%;
//   opacity: 0.8;
//   transition: opacity .5s ease-out;
//   filter: alpha(opacity=90);
//   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
//   &:hover {
//     opacity:1;
//   }
// }
