.contact-container {
  display: flex;
  height: 100vh;
  min-width: 100%;
  align-items: center;
  background-color: black;
  color: white;
}
  .contact-container h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
.hidden {
  display: none;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
#margin-contact {
  margin: 65% 48px 35% 48px;
}
.form-control-label {
  font-weight: 100;
  font-size: 14px;
}
.contact-text p {
  font-weight: 100;
  margin-bottom: 16px;
  font-size: 14px;
}
.contact-text a {
  color: white;
  opacity: 1;
  transition: opacity .3s ease-out;
}
.contact-text a:hover {
  opacity: 0.6;
}
textarea.form-control {
  height: 100px;
}
.contact-center {
  @media (max-width: 768px) {
    text-align: center;
    margin-bottom: 100px;
  }
}
