body {
  background-color: black;
}
.container {
  min-width: 100%;
  margin: 0;
  justify-content: left;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  color: white;
  padding: 0;
}
.full-screen-height {
  height: 100vh;
  font-weight: 100;
}
.full-plus-screen-height {
  @media (max-width: 576px) {
    height: 150vh;
  }
  height: 100vh;
  font-weight: 100;
}
.text-container-home-top {
  margin: auto 48px;
  width: 70%;
}
  .text-container-home-top h3 {
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
  }
  .text-container-home-top h4 {
    font-weight: 800;
    font-size: 14px;
  }
  .text-container-home-top p {
    margin: 30px 0px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 100;
    max-width: 75%;
    letter-spacing: 0.5px;
  }
  .text-container-home-top a {
    color: white;
    transition: color .3s ease-out;
    &:hover {
      color: #798491;
    }
  }
#thread-strapline {
  @media (max-width: 576px) {
    font-size: 24px;
    color: black;
  }
  margin: auto 0;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  position: inherit;
  width: 75%;
}
#thread-strapline span {
  @media (max-width: 576px) {
    font-size: 24px;
    color: black;
  }
  margin: auto 0;
  font-weight: 200;
  font-size: 30px;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
.project-container {
  height: 65vh;
  background-size: cover;
  position: relative;
  color: white;
  margin: 8px;
}
.project-container-for-love {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
  background-position: center;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
    cursor: pointer;
  }
}
.project-container-surf {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
  background-position: center;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
    cursor: pointer;
  }
}
.project-container-AIG {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
  background-position: center;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
    cursor: pointer;
  }
}
.project-container-panerai {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
  background-position: center;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
    cursor: pointer;
  }
}
.project-container-football {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
  background-position: top;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
    cursor: pointer;
  }
}
.project-container-tribute-ink {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
  background-position: top;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
    cursor: pointer;
  }
}
.project-container-hcr {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
  background-position: top;
  &:hover {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
    cursor: pointer;
  }
}
.project-text-container {
  position: absolute;
  bottom: 32px;
  left: 32px;
  padding-right: 32px;
}
.project-title {
  font-size: 24px;
  font-weight: 800;
}
.project-strapline {
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
}
.project-link {
  font-size: 13.5px;
  margin-top: 20px;
  font-weight: 800;
  transition: ease 1s;
  color: white;
  @media (max-width: 576px) {
    opacity: 1;
  }
}
.project-container:hover .project-link {
  opacity: 1;
  font-size: 14px;
}
a:hover {
  text-decoration: none;
}
