.show-page-container {
  height: 60vh;
  background-size: cover;
  display: flex;
  color: white;
  margin-top: 100px;
}
.surf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202100/Op_Surf_Still_copy_nrcafm.png");
  background-position: center;
}
.aig {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559911580/AIG_volunteer_hype_still_vmldb0.png");
  background-position: center;
}
.panerai {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063887/panerai_x_comsubin_lflysu.png");
  background-position: center;
}
.for-love {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063503/070120_rbl_for_love_3_copy_sal8u1.png");
  background-position: center;
}
.football {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1559202103/RBL_Football_still_copy_j9395l.png");
  background-position: top;
}
.tribute-ink {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580067341/2019_rbl_tattoo_craig_daniell_10.1_copy_zqkrcq.png");
  background-position: top;
}
.hcr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1580063504/2019_hcr_advert_1_copy_wzpyp8.png");
  background-position: top;
}
.show-title {
  font-size: 40px;
  text-align: center;
  margin: 0 48px;
  line-height: 45px;
  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 576px) {
    font-size: 20px;
 }
}
.show-text {
  margin: 100px 0;
  h3 {
    font-weight: 800; font-size: 20px;
  }
}
.show-blurb {
  font-size: 14px;
  line-height: 28px;
  font-weight: 100;
  max-width: 575px;
}
.h3-margin {
 @media (min-width: 768px) {
  margin-left: 16px;
 }
  @media (max-width: 767px) {
  margin-bottom: 32px;
 }
}
.project-details {
  font-weight: 500;
}
.video-margin {
  margin-bottom: 150px;
   @media (max-width: 768px) {
  margin-bottom: 40px;
 }
}
.video-container {
  background-color: black;
  margin: 0 8px 100px 8px;
}
video::-webkit-media-controls-panel {
     background-image: linear-gradient(transparent, transparent)!important;
}
.no-blue {
  outline: 0;
  display: block;
}
.tabs-margin {
  margin: 64px 0 120px 0;
  @media (max-width: 768px) {
    margin: 40px 0;
 }
  a {
    font-weight: 800;
    font-size: 14px;
    opacity: 1;
    transition: opacity .3s ease-out;
    color: white;
    @media (max-width: 768px) {
      font-size: 13px;
   }
    &:hover {
      opacity: 0.6;
    }
  }
}

