.show-video:focus {
  outline: 0;
}
.show-video {
  margin: 5%;
}
.no-blue {
  outline: 0;
}
.video-container {
  background-color: black;
  margin: 48px 0;
}
.show-page-container {
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
  margin-top: 100px;
}
.show-text-container {
  margin: auto;
}
.surf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dhcilq76q/image/upload/v1558371781/Screen_Shot_2019-05-13_at_14.35.11_zpga3y_ronfvf.png");
}
.show-title {
  font-size: 32px;
}
video::-webkit-media-controls-panel {
     background-image: linear-gradient(transparent, transparent)!important;
}
