<div <% if current_page?(root_path) %>class="footer footer-black"<% else %>class="footer footer-grey"<% end %>>
  <div>
    <h1 style=""><span>© <%= Date.today.year %></span> Thread Films</h1>
    <a href="/contacts/new">CONTACT US</a><br>
    <div class="footer-socials">
      <a href="https://vimeo.com/user96886909" target="_blank"><i class=" fab fa-vimeo-v mr-2"></i></a>  //  <a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a>  //  <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a>  //  <a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram ml-2"></i></a>
    </div>
    <div class="footer-sub footer-sub-margin">
      <p>© <%= Date.today.year %> Thread Films &nbsp // &nbsp Site by <a href="mailto:info@katebuxton.co.uk">Kate Buxton</a></p>
      <p>Thread Films is the trading name for Grisly Limited. Grisly Limited is a registered company number 09210578. </p>
      <p>75 Kenton Street, London WC1N 1NN.</p>
    </div>
  </div>
</div>

