<!-- <div class="footer">
  <%= link_to root_path do %>
  <h1 style="font-family: montserrat;">Thread Films</h1>
  <% end %>
  <div class="footer-flex">
    <div class="align-self-end">
      <ul class="no-bullets contact-details">
        <li><p class="footer-text" id="registered">CONTACT US</p></li>
        <li><p class="footer-text mt-3">Phone // +44 (0)20 7000 000</p></li>
        <li>Email // <a href="mailto:info@threadfilms.co" class="">info@threadfilms.co</a></li>
        <li><a href="https://vimeo.com/mgris" target="_blank"><i class="fab fa-vimeo-v mr-2"></i></a>  //  <a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a>  //  <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a>  //  <a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram ml-2"></i></a></li>
      </ul>
    </div>
    <div class="disclaimer">
      <p id="notice">OUR MISSION</p>
      <p class="mt-4">We believe that film uplifts, excites, enthuses and informs people with more potency than any other medium. </p>
      <p class="mt-4">That’s why we love making them.</p>
    </div>
  </div>
</div>
 -->
