<div class="footer">
  <div>
    <%= link_to root_path do %>
      <h1>© <%= Date.today.year %> Thread Films</h1>
    <% end %>
    <a href="/contacts/new">CONTACT US</a><br>
    <a href="https://vimeo.com/mgris" target="_blank"><i class=" fab fa-vimeo-v mr-2"></i></a>  //  <a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a>  //  <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a>  //  <a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram ml-2"></i></a>
    <p>© <%= Date.today.year %> Thread Films // Site by <a href="mailto:info@katebuxton.co.uk">Kate Buxton</a></p>
  </div>
</div>

