<div class="container about-container">
  <div class="text-container-home-top">
    <h1 id="thread-strapline">About Us</h1>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">We love stories in any format, but our first love will always be the moving image. It is the medium which we believe has the strongest capacity to move people and make a difference in the way something or someone is viewed.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Since my first taste of filmmaking at a New York Film Academy Summer School, through my time in the Combat Camera Team to now, as a freelance Filmmaker I have loved the process and result.</h3>
  </div>
  <img src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
</div>

<div class="container about-container">
  <img src="https://images.pexels.com/photos/697243/pexels-photo-697243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
  <div class="text-container-home-top">
    <h1 id="thread-strapline">MAURICIO GRIS</h1>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Director, Producer and Multi-media Journalist, and Co-founder of Thread Films</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Gris is a self-shooter (all Canon C series and Sony F series) who can edit. He is experienced in working in austere locations, negotiating delicate access and dealing with tough or traumatised contributors.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Gris has advised on media team deployments to war zones, designed and delivered filmmaking courses focused on hostile areas. He is currently working on long and feature length projects in the Baltics and MENA regions.</h3>
  </div>
</div>

<div class="container d-flex full-screen-height">
  <div class="text-container-home-top">
    <h1 id="thread-strapline">OUR CLIENTS + PARTNERS</h1>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Clients include: AIG, The Royal Foundation, Fondazione Prada, and Fusion Media.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Our film work and journalism have featured on all major UK Broadcasters as well as Netflix. </h3>
  </div>
</div>

<div class="d-flex mb-5">
  <div style="width: 30%">
  </div>
  <div style="width: 70%">
    <h1 id="thread-strapline" style="margin: 100px 0px 48px 48px;">SOCIAL MEDIA</h1>
    <div id="instafeed">
    </div>
  </div>
</div>

<script src='http://matthewelsom.com/assets/js/libs/instafeed.min.js'></script>

<script type='text/javascript'>
  var userFeed = new Instafeed({
    get: "user",
    userId: "331881671",
    clientId: "184fd925649945b2b83c467b127826d9",
    accessToken: "331881671.184fd92.1e100afdcd404d448aea1f87b9b6ec1b",
    resolution: "standard_resolution",
    limit: "18",
    template:
      '<div class="instagram"><li><a href="{{link}}" target="_blank"><img src="{{image}}" /><div class=""></div></a></li></div>',
    sortBy: "most-recent",
    links: true
  });
  userFeed.run();
</script>
