<div class="show-page-container about-photo">
  <div class="show-text-container">
    <h1 class="show-title">ABOUT US + OUR CLIENTS</h1>
  </div>
</div>

<div class="container" style="">
  <div class="row" style="margin-top: 100px;">
    <div class="col-xs-12 col-md-2 offset-md-2" style="">
      <h3 style="font-weight: 800; font-size: 20px;">ABOUT US</h3>
    </div>
    <div class="col-xs-12 col-md-6 mr-auto" style="font-size: 15px; line-height: 28px; font-weight: 100;">
      <p class="mb-4">Thread is an independent film production company based in London.</p>
      <p class="mb-4">Our work focuses on documentaries, promotional films and commercials. At the heart of our work lies our passion for creating video content that drives positive social change and makes the world a better place.</p>
      <p class="mb-4">Our charitable focus is helping veterans tell their stories and disaster relief, however we create everything from one minute hype reels to hour long conflict zone documentaries.</p>
      <p class="">We own everything required for most shooting situations, and where necessary specialist equipment can be arranged.</p>
    </div>
  </div>
</div>

<div class="about-page-container mau-photo">
  <div class="show-text-container">
    <div style="margin: auto 32px 0px 50%; color: white;">
      <h3 class="mb-4" style="font-weight: 800; font-size: 20px;">MAURICIO GRIS &nbsp//&nbsp CO-FOUNDER</h3>
      <p style="font-size: 15px; font-weight: 100; line-height: 28px;"></p>
      <p style="font-size: 15px; font-weight: 100; line-height: 28px;">Director, producer and multi-media journalist Gris is experienced in working in austere locations, negotiating delicate access and dealing with tough or traumatised contributors.</p>
      <p class="mb-4" style="font-size: 15px; font-weight: 100; line-height: 28px;">He has advised on media team deployments to war zones, designed and delivered filmmaking courses focused on hostile areas. He is currently working on long and feature length projects in the Baltics and MENA regions.</p>
      <a href="http://mauriciogris.com" target="_blank"><h3 class="project-link" >SEE MAURICIO'S DOCUMENTARY WORK <i class="fas fa-chevron-right"></i></h3></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top: 150px; margin-bottom: 150px;">
    <div class="col-xs-12 col-md-2 offset-md-2" style="">
      <h3 style="font-weight: 800; font-size: 20px;">OUR CLIENTS + PARTNERS</h3>
    </div>
    <div class="col-xs-12 col-md-6 mr-auto" style="font-size: 15px; line-height: 28px; font-weight: 100;">
      <p class="mb-4">Clients include: AIG, The Royal Foundation, Fondazione Prada, and Fusion Media.</p>
      <p class="">Our film work and journalism have featured on all major UK Broadcasters as well as Netflix.</p>
    </div>
  </div>
</div>

<div class="d-flex mb-5">
  <div style="width: 30%">
  </div>
  <div style="width: 70%">
    <h1 id="thread-strapline" style="margin: 100px 0px 48px 48px;">SOCIAL MEDIA</h1>
    <div id="instafeed">
    </div>
  </div>
</div>

<script src='http://matthewelsom.com/assets/js/libs/instafeed.min.js'></script>

<script type='text/javascript'>
  var userFeed = new Instafeed({
    get: "user",
    userId: "331881671",
    clientId: "184fd925649945b2b83c467b127826d9",
    accessToken: "331881671.184fd92.1e100afdcd404d448aea1f87b9b6ec1b",
    resolution: "standard_resolution",
    limit: "18",
    template:
      '<div class="instagram"><li><a href="{{link}}" target="_blank"><img src="{{image}}" /><div class=""></div></a></li></div>',
    sortBy: "most-recent",
    links: true
  });
  userFeed.run();
</script>

