<div class="show-page-container about-photo">
  <div class="m-auto">
    <h1 class="show-title">ABOUT US + OUR CLIENTS</h1>
  </div>
</div>

<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">ABOUT US</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>Thread is an independent film production company based in London, but with clients across the world.</p>
      <p class="mt-4">We specialise in creative, thoughtful, human storytelling.</p>
      <p class="mt-4">At the heart of everything we do is the story. Whether it is a straightforward webinar or an in-depth branded documentary, we harness the power of storytelling to create engaging  films for any audience.</p>
      <p class="mt-4">Leading the team is Bafta long-listed film maker Mauricio Gris and partner and producer Alex Farquharson, alongside a talented bunch of editors, sound designers, producers and more, who are ready for any challenge.</p>
    </div>
  </div>
</div>

<div class="about-page-container mau-photo">
  <div class="mau-text-container m-auto">
    <div class="mau-container">
      <h3 class="mb-4 mau-heading">MAURICIO GRIS &nbsp//&nbsp CO-FOUNDER</h3>
      <p class="d-none d-sm-block">Mauricio Gris is a creative, versatile and dynamic director producer. He learnt his trade in the British Army’s Camera Team. Since leaving he has created a hugely varied body of work, from hype reels to branded content to hour long documentaries featured on Netflix. His work is raw, beautiful and always focuses on the human in the story.</p>
      <a href="http://mauriciogris.com" target="_blank"><h3 class="project-link d-none d-sm-block" >SEE MAURICIO'S DOCUMENTARY WORK <i class="fas fa-chevron-right"></i></h3></a>
    </div>
  </div>
</div>
<div class="container d-block d-sm-none">
  <div class="row">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb sm-mau-margin-top">
      <p>Mauricio Gris is a creative, versatile and dynamic director producer. He learnt his trade in the British Army’s Camera Team. Since leaving he has created a hugely varied body of work, from hype reels to branded content to hour long documentaries featured on Netflix. His work is raw, beautiful and always focuses on the human in the story.</p>
      <a href="http://mauriciogris.com" target="_blank"><h3 class="project-link" >SEE MAURICIO'S DOCUMENTARY WORK <i class="fas fa-chevron-right"></i></h3></a>
    </div>
  </div>
</div>

<div class="about-page-container mau-photo">
  <div class="mau-text-container m-auto">
    <div class="mau-container">
      <h3 class="mb-4 mau-heading">ALEX FARQUHARSON &nbsp//&nbsp CO-FOUNDER</h3>
      <p class="d-none d-sm-block">Alex has worked with clients of all shapes and sizes, from start-ups and charities to FTSE100s. As the lead producer, she manages the bespoke team put together for each project and is responsible for keeping each and every project and person involved on budget and on time. </p>
      <p class="mb-4 d-none d-sm-block">Alex speaks French, Spanish and a smattering of German.</p>
    </div>
  </div>
</div>
<div class="container d-block d-sm-none">
  <div class="row">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb sm-mau-margin-top">
      <p>Alex has worked with clients of all shapes and sizes, from start-ups and charities to FTSE100s. As the lead producer, she manages the bespoke team put together for each project and is responsible for keeping each and every project and person involved on budget and on time. </p>
      <p class="mt-4">Alex speaks French, Spanish and a smattering of German.</p>
    </div>
  </div>
</div>


<div class="container clients-margin">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">OUR CLIENTS + PARTNERS</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p class="">We’ve worked with the likes of The Royal Foundation, AIG, The Royal British Legion, Fondazione Prada, Marmott UK, Greenlight for Girls and the Household Cavalry.</p>
      <p class="mt-4">Our work has featured on all major UK Broadcasters as well as Netflix.</p>
    </div>
  </div>
</div>






<!-- <div class="d-flex mb-5">
  <div style="width: 30%">
  </div>
  <div style="width: 70%">
    <h1 id="thread-strapline" style="margin: 100px 0px 48px 48px; font-size: 20px;">SOCIAL MEDIA</h1>
    <div id="instafeed">
    </div>
  </div>
</div>

<script src='http://matthewelsom.com/assets/js/libs/instafeed.min.js'></script>

<script type='text/javascript'>
  var userFeed = new Instafeed({
    get: "user",
    userId: "331881671",
    clientId: "184fd925649945b2b83c467b127826d9",
    accessToken: "331881671.184fd92.1e100afdcd404d448aea1f87b9b6ec1b",
    resolution: "standard_resolution",
    limit: "18",
    template:
      '<div class="instagram"><li><a href="{{link}}" target="_blank"><img src="{{image}}" /><div class=""></div></a></li></div>',
    sortBy: "most-recent",
    links: true
  });
  userFeed.run();
</script> -->

