<div class="show-page-container football">
  <div class="m-auto">
    <h1 class="show-title">THANK YOU</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>As part of the Royal British Legion’s #ThankYou100 campaign, Thread created a short film in partnership with the FA in the run up to the centenary of the end of the First World War.</p>
      <p class="mt-4">This film balances thoughtful remembrance of those who sacrificed their lives in the conflict with a celebration of women who mastered new challenges, to create a poignant thank you to the First World War generation. </p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp Royal British Legion</p>
        <p class="">Film location &nbsp//&nbsp Burton upon Trent, UK</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1559202233/2018_rbl_football_thank_you_v5_-HD_1080p_1_htm5nk.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/operation_surf"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/aig"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
