<div class="show-page-container for-love">
  <div class="m-auto">
    <h1 class="show-title">FOR LOVE</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-5 mr-auto show-blurb">
      <p>To celebrate the 20th anniversary of the lifting of the ban on homosexuality in the military, Kate shared the previously untold story of her experience in the Royal Military Police, to create this powerful, simple and thought provoking film.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp Royal British Legion</p>
        <p class="">Film location &nbsp//&nbsp Oxfordshire, UK</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1580067694/070120_rbl_for_love8_y3uamn.mp4" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/aig"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/operation-surf"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
