<div class="show-page-container forces">
  <div class="m-auto">
    <h1 class="show-title">ROYAL BRITISH LEGION&nbsp // &nbspARMED FORCES DAY CAMPAIGN</h1>
  </div>
</div>

<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="mt-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p class="mt-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p class="mt-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp ROYAL BRITISH LEGION</p>
        <p class="">Film location &nbsp//&nbsp TBC</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row video-margin">
    <div class="col-12 col-md-3 offset-md-1">
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto">
      <div class="video-container">
        <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
          <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1559202480/2018_rbl_regulars_v4_final_clean_HD_1080p_1_qkq1lr.mov" type="video/mp4">
           Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/aig"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/football"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
