<div class="hero-video">
  <div class="player">
    <video class="player__video" id="video_home" loop="true" autoplay muted>
      <source id="video-source" data-src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558432125/op_surf_teaser_-_for_website-HD_1080p_nv479r.mov" type="video/mp4">
    </video>
    <h1 class="nav-logo" id="thread-strapline">Thread Films <span>IS A FILM PRODUCTION COMPANY FOUNDED BY BAFTA LONG-LISTED DOCUMENTARY MAKER MAURICIO GRIS.</span></h1>
  </div>
</div>
<div class="container d-flex full-screen-height">
  <div class="text-container-home-top">
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">We create everything from one minute hype reels to hour long conflict zone documentaries.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Our founders' film work and journalism have featured on all major UK Broadcasters as well as Netflix. Commercial clients include AIG, The Royal Foundation, Fondazione Prada, and Fusion Media.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Our charitable focus is helping veterans tell their stories and disaster relief.</h3>
    <h3 class="mt-5" style="font-weight: 800; font-size: 14px;">PLEASE SCROLL DOWN FOR OUR LATEST PROJECTS.</h3>
    <i class="fas fa-chevron-down" style="font-size: 14px; font-weight: 800;"></i>
  </div>
</div>
<a href="/operation_surf">
  <div class="project-container project-container-surf">
    <div class="project-text-container">
      <h3 class="project-title">ENDEAVOUR FUND</h3>
      <h3 class="project-strapline">Operation Surf</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="https://vimeo.com/321825185" target="_blank">
  <div class="project-container project-container-AIG">
    <div class="project-text-container">
      <h3 class="project-title">AIG</h3>
      <h3 class="project-strapline">2019 Volunteer Hype</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="https://vimeo.com/321822610" target="_blank">
  <div class="project-container project-container-legion1">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">Armed Forces Day Campaign</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="https://vimeo.com/323698674" target="_blank">
  <div class="project-container project-container-legion2">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION CENTENARY CELEBRATIONS</h3>
      <h3 class="project-strapline">England Football Team Remembers</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
