<div id="desktop">
  <div  style="justify-content: right;" class="holding-page-container container d-flex full-plus-screen-height">
    <div style="margin-right: 10%;" class="">
      <h3 style="text-align: right; font-size: 28px;" class="project-strapline">We’re working on something new!</h3>
      <div class="d-flex" style="justify-content: right;">
        <h3 style="text-align: right; width: 300px; line-height: 20px; font-size: 14px;" class="project-link">In the meantime, if you want to say hi, get in touch at <a href="mailto:hello@threadfilms.co" class="white-text-link">hello@threadfilms.co</a></h3>
      </div>
    </div>
  </div>
</div>

<div id="mobile" >
  <div style="justify-content: right; height: 100vh" class="holding-page-container container d-flex">
    <div style="" class="">
      <h3 style="text-align: center; font-size: 28px;" class="project-strapline">We’re working on something new!</h3>
      <div class="d-flex" style="justify-content: center;">
        <h3 style="text-align: center; width: 70%; line-height: 20px; font-size: 12px; margin-top: 10px;" class="project-link">In the meantime, if you want to say hi, get in touch at <a href="mailto:hello@threadfilms.co" class="white-text-link">hello@threadfilms.co</a></h3>
      </div>
    </div>
  </div>
</div>


<!-- <div class="hero-video">
  <div class="player">
    <video class="player__video" id="video_home" loop="true" autoplay muted>
      <source id="video-source" data-src="https://res.cloudinary.com/dhcilq76q/video/upload/v1559919853/op_surf_teaser_-_for_website-HD_1080p_1_zv8bou.mov" type="video/mp4">
    </video>
    <h1 class="nav-logo" id="thread-strapline">Thread Films <span>IS AN INDEPENDENT FILM PRODUCTION COMPANY SPECIALISING IN CREATIVE, THOUGHTFUL, HUMAN STORYTELLING.</span></h1>
  </div>
</div>
<div class="container d-flex full-plus-screen-height">
  <div class="text-container-home-top">
    <h3 class="mt-4">We create everything from 15 second bite sized films to documentaries, hype reels, branded content and everything in between.</h3>
    <h3 class="mt-4">Whether it’s corporate, commercial or charitable – we work with organisations and people to bring their story to life.</h3>
    <h4 class="mt-5">PLEASE SCROLL DOWN FOR OUR LATEST PROJECTS.</h4>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
<a href="/for-love">
  <div class="project-container project-container-for-love">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">For Love</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/operation-surf">
  <div class="project-container project-container-surf">
    <div class="project-text-container">
      <h3 class="project-title">ENDEAVOUR FUND</h3>
      <h3 class="project-strapline">Operation Surf</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/thank-you">
  <div class="project-container project-container-football">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">Thank You</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/hcr">
  <div class="project-container project-container-hcr">
    <div class="project-text-container">
      <h3 class="project-title">HOUSEHOLD CAVALRY</h3>
      <h3 class="project-strapline">Are you ready?</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/aig">
  <div class="project-container project-container-AIG">
    <div class="project-text-container">
      <h3 class="project-title">AIG</h3>
      <h3 class="project-strapline">Giving Back</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/panerai">
  <div class="project-container project-container-panerai">
    <div class="project-text-container">
      <h3 class="project-title">PANERAI x COMSUBIN</h3>
      <h3 class="project-strapline">Xperience</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/tribute-ink">
  <div class="project-container project-container-tribute-ink">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">Tribute Ink - Craig’s Story</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a> -->
