<div class="hero-video">
  <div class="player">
    <video class="player__video" id="video_home" loop="true" autoplay muted>
      <source id="video-source" data-src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558432125/op_surf_teaser_-_for_website-HD_1080p_nv479r.mov" type="video/mp4">
    </video>
    <h1 class="nav-logo" id="thread-strapline">Thread Films <span>IS AN INDEPENDENT FILM PRODUCTION COMPANY SPECIALISING IN CREATIVE, THOUGHTFUL, HUMAN STORYTELLING.</span></h1>
  </div>
</div>
<div class="container d-flex full-plus-screen-height">
  <div class="text-container-home-top">
    <h3 class="mt-4">We create everything from 15 second bite sized films to mini documentaries, hype reels, branded content and everything in between.</h3>
    <h3 class="mt-4">Whether it’s corporate, commercial or charitable – we work with organisations and people to bring their story to life.</h3>
    <h3 class="mt-4">Our charitable focus is helping military veterans tell their stories.</h3>
    <h4 class="mt-5">PLEASE SCROLL DOWN FOR OUR LATEST PROJECTS.</h4>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
<a href="/operation_surf">
  <div class="project-container project-container-surf">
    <div class="project-text-container">
      <h3 class="project-title">ENDEAVOUR FUND</h3>
      <h3 class="project-strapline">Operation Surf</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/aig">
  <div class="project-container project-container-AIG">
    <div class="project-text-container">
      <h3 class="project-title">AIG</h3>
      <h3 class="project-strapline">Giving Back</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/forces">
  <div class="project-container project-container-forces">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">Sugar</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
<a href="/football">
  <div class="project-container project-container-football">
    <div class="project-text-container">
      <h3 class="project-title">ROYAL BRITISH LEGION</h3>
      <h3 class="project-strapline">Thank You</h3>
      <h3 class="project-link">WATCH FILM + LEARN MORE <i class="fas fa-chevron-right"></i></h3>
    </div>
  </div>
</a>
