<div class="show-page-container surf">
  <div class="m-auto">
    <h1 class="show-title">OPERATION SURF</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>This film tells the story of Stacy, a military veteran suffering from PTSD. Through her eyes, we see how Operation Surf can help wounded, injured and sick service personnel.</p>
      <p class="mt-4">The beautiful imagery and character led story create a timeless film which stays with the viewer.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp The Endeavour Fund</p>
        <p class="">Film location &nbsp//&nbsp Cornwall, UK</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/forces"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/football"> NEXT PROJECT > </a>
    </div>
  </div>
</div>




