<div class="container d-flex" style="height: 100vh; background-color: black;">
  <div class="text-container-home-top">
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Operation Surf</h3>
  </div>
</div>
<div class="video-container">
  <video class="show-video" controls controlsList="nodownload" disablePictureInPicture width="96%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container d-flex full-screen-height">
  <div class="text-container-home-top">
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">We create everything from one minute hype reels to hour long conflict zone documentaries.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Our founders' film work and journalism have featured on all major UK Broadcasters as well as Netflix. Other commercial clients include AIG, The Royal Foundation, Fondazione Prada, and Fusion Media.</h3>
    <h3 class="mt-4" style="font-weight: 100; font-size: 24px;">Our charitable focus is helping veterans tell their stories and disaster relief.</h3>
  </div>
</div>


