<div class="show-page-container surf">
  <div class="show-text-container">
    <h1 class="show-title">ENDEAVOUR FUND&nbsp // &nbspOPERATION SURF</h1>
  </div>
</div>

<div class="container" style="">
  <div class="row" style="margin-top: 100px;">
    <div class="col-xs-12 col-md-2 offset-md-2" style="">
      <h3 style="font-weight: 800; font-size: 20px; margin-left: 16px;">THE BRIEF</h3>
    </div>
    <div class="col-xs-12 col-md-6 mr-auto" style="font-size: 14px; line-height: 28px; font-weight: 100;">
      <p class="">Operation Surf is a joint initiative, executed by Help For Heroes Sports Recovery and supported by the Endeavour Fund.</p>
      <p class="mt-4">The initiative aims to build on the Amazing Surf Adventures adaptive surf programme out in the USA for wounded, injured and sick (WIS) Service personnel and veterans.</p>
      <p class="mt-4">Pairing world-class surfers with wounded veterans Operation Surf is trying to help those in need.</p>
      <p class="mt-4">The subject of our film, Stacy, suffered from PTSD and depression following her time in the Army. Through Operation Surf, she discovered how surfing can help her.</p>
      <p class="mt-5 mb-0" style="font-weight: 500;">Client &nbsp//&nbsp The Endeavour Fund (add link)</p>
      <p class="mb-0" style="font-weight: 500;">Shot on &nbsp//&nbsp TBC</p>
      <p class="" style="font-weight: 500;">Film location &nbsp//&nbsp Cornwall, UK</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-bottom: 150px;">
    <div class="col-xs-12 col-md-3 offset-md-1">
      <h3 style="font-weight: 800; font-size: 20px;"></h3>
    </div>
    <div class="col-xs-12 col-md-7 mr-auto">
      <div class="video-container">
        <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
          <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
           Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</div>

<!-- <div class="video-container">
  <video class="show-video" style="display:block" controls controlsList="nodownload" disablePictureInPicture width="90%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
 -->
<div class="container">
  <div class="row" style="margin: 64px 0 120px 0;">
    <div class="col-4 offset-2">
      <a href=""><h3 style="font-weight: 800; font-size: 14px; color: white;"> < PREVIOUS PROJECT </h3></a>
    </div>
    <div class="col-4 mr-auto">
      <a href=""><h3 style="font-weight: 800; font-size: 14px; text-align: right; color: white;"> NEXT PROJECT > </h3></a>
    </div>
  </div>
</div>




