<div class="show-page-container surf">
  <div class="m-auto">
    <h1 class="show-title">ENDEAVOUR FUND&nbsp // &nbspOPERATION SURF</h1>
  </div>
</div>

<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>Operation Surf is a joint initiative, executed by Help For Heroes Sports Recovery and supported by the Endeavour Fund.</p>
      <p class="mt-4">The initiative aims to build on the Amazing Surf Adventures adaptive surf programme out in the USA for wounded, injured and sick (WIS) Service personnel and veterans.</p>
      <p class="mt-4">Pairing world-class surfers with wounded veterans Operation Surf is trying to help those in need.</p>
      <p class="mt-4">The subject of our film, Stacy, suffered from PTSD and depression following her time in the Army. Through Operation Surf, she discovered how surfing can help her.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp The Endeavour Fund</p>
        <p class="">Film location &nbsp//&nbsp Cornwall, UK</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row video-margin">
    <div class="col-12 col-md-3 offset-md-1">
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto">
      <div class="video-container">
        <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
          <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
           Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
  </div>
</div>

<!-- <div class="video-container">
  <video class="show-video" style="display:block" controls controlsList="nodownload" disablePictureInPicture width="90%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1558384302/op_surf_teaser_final_Endeav._Edition_-2_ag1xie.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
 -->
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/football"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/aig"> NEXT PROJECT > </a>
    </div>
  </div>
</div>




