<div class="show-page-container panerai">
  <div class="m-auto">
    <h1 class="show-title">XPERIENCE</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-5 mr-auto show-blurb">
      <p>Over three days in Summer 2019, the Italian special forces Comsubin opened the gates to their elite military base in Tuscany to a handful of Panerai’s most loyal clients, for the first and only time.</p>
      <p class="mt-4">Thread followed them through mud, water, helicopters, gun ranges and speed boats to create this film.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp Panerai</p>
        <p class="">Film location &nbsp//&nbsp Tuscany, Italy</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1580066732/201909_panerai_x_comsubinv24-mp4_uevufz.mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/aig"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/tribute-ink"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
