<div class="show-page-container forces">
  <div class="m-auto">
    <h1 class="show-title">SUGAR</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-6 mr-auto show-blurb">
      <p>Thread was commissioned to make a series of short films for the Royal British Legion, to shed new light on the experiences of those in the military, their friends and family. The goal was to reach new, younger audiences through their Armed Forces Day campaign.</p>
      <p class="mt-4">“Sugar” – the hero film of the series – is a simple but powerful idea. With little more than 100 bags of sugar, a backpack, and a few willing participants, we created the most viewed film the RBL has ever published, with over 2 million views in one day.</p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp Royal British Legion</p>
        <p class="">Film location &nbsp//&nbsp London, UK</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1559202480/2018_rbl_regulars_v4_final_clean_HD_1080p_1_qkq1lr.mov" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/aig"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/endeavour"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
