<div class="show-page-container tribute-ink">
  <div class="m-auto">
    <h1 class="show-title">TRIBUTE INK - CRAIG'S STORY</h1>
  </div>
</div>
<div class="container">
  <div class="row show-text">
    <div class="col-10 offset-1 col-md-2 offset-md-2">
      <h3 class="h3-margin">THE BRIEF</h3>
    </div>
    <div class="col-10 offset-1 col-md-5 mr-auto show-blurb">
      <p>Thread was commissioned to make a series of short films for the Royal British Legion celebrating the history of tattoos in the military.</p>
      <p class="mt-4">After he was injured in Afghanistan serving with the RAF, Craig used his tattoos to help deal with his trauma.</p>
      <p class="mt-4">Alongside some stunning photography, Craig’s story and others are part of an exhibition currently touring the UK. </p>
      <div class="project-details">
        <p class="mt-5 mb-0">Client &nbsp//&nbsp Royal British Legion</p>
        <p class="">Film location &nbsp//&nbsp Newquay, Cornwall</p>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video class="no-blue" controls controlsList="nodownload" disablePictureInPicture width="100%">
    <source src="https://res.cloudinary.com/dhcilq76q/video/upload/v1580067190/2019_rbl_tattoo_craig_daniell10-mp4_vt2mno.mp4" type="video/mp4">
     Your browser does not support HTML5 video.
  </video>
</div>
<div class="container">
  <div class="row tabs-margin">
    <div class="p-0 col-5 offset-1 col-md-4 offset-md-2">
      <a href="/panerai"> < PREVIOUS PROJECT </a>
    </div>
    <div class="p-0 col-5 mr-auto col-md-4 mr-md-auto text-right">
      <a href="/for-love"> NEXT PROJECT > </a>
    </div>
  </div>
</div>
