.hero-video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/1048273/pexels-photo-1048273.jpeg?cs=srgb&dl=coast-evening-horizon-1048273.jpg&fm=jpg);
  height: calc(100vh);
}
.player {
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
  position: relative;
}
.player__video {
  background-color: transparent;
  // width: 100%;
  height: 130vh;
  position: absolute;
  top: calc(-100vw / 12);
  left: 0;
  // border-bottom: 1px solid transparent;
}
.video-logo-holder {
  width: 100vw;
  // height: 70vh;
  height: calc(100vh);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume-toggle {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.volume-logo {
  height: 30px;
  width: 30px;
  opacity: 0.4;
  position: absolute;
  bottom: 0px;
  left: 15px;
  color: white;
}
.volume-logo:hover {
  opacity: 0.7;
}
.hidden {
  display: none !important;
}
.video-text {
  height: 15px;
  opacity: 0.4;
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.video-text:hover {
  opacity: 0.7;
}
