.hero-video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/1048273/pexels-photo-1048273.jpeg?cs=srgb&dl=coast-evening-horizon-1048273.jpg&fm=jpg);
  height: calc(100vh);
  background-size: cover;
  background-position: center;
}
.player {
  width: 100vw;
  height: calc(100vh);
  overflow: hidden;
  position: relative;
}
.player__video {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
